{% extends "layout.twig" %}

{% block content %}

{% if flash.success %}
     <div class="alert alert-success">
        {{flash.success}}
     </div>
{% endif %}
{% if flash.error %}
     <div class="alert alert-danger">
        {{flash.error}}
     </div>
{% endif %}


<table id="example" class="table " style="width:100%">
<thead>
<tr> 
    <th>Name</th>
    <th>note1</th>
    <th>note2</th> 
    <th>total</th>
    <th>status</th>
    <th>action</th> 

  </tr> 
</thead>  
 <tbody> 
<h3 style="color:green;text-decoration: underline;">Notes de module : {{module}}</h3>
{% for note  in Notes %}
 <form action="setstudent_notes" method="post">
<tr>
    <td>{{note.student_name}}</td>  
     <input type="hidden" name="module_id" value="{{module_id}}">
     <input type="hidden" name="note_id" value={{note.id}}>
    <td>
        {% if note.note1 !=-1 %}
          <input type="number" name="note1" min="0" max="20" step="0.25" value={{note.note1}}> 
        {% else %}
         <input type="number" name="note1" min="0" max="20" step="0.25" placeholder="aucun" value={{-1}}> 
        {% endif %} 
    </td>
     <td>
        {% if note.note2 !=-1 %} 
          <input type="number" name="note2" min="0" max="20" step="0.25" value={{note.note2}}> 
        {% else %}
         <input type="number" name="note2" min="0" max="20" step="0.25"  value={{-1}}> 
        {% endif %}
       
    </td>
     <td>
        {% if note.total !=-1 %}
           <b>{{note.total}}</b>
        {% else %}
        <b style="color:red">vous n'avez pas encore saisire tous les notes</b>
        {% endif %}
       
    </td>
    <td>
         {% if note.total >=12  %}
           <b style="color:green">Validé</b>
        {% else %}
           {% if note.total !=-1  %}
              <b style="color:red">Non Validé</b>
           {% else %}
           <b style="color:blue">pas encore</b>
           {% endif %}  
        {% endif %}
    </td>
     <td><button class="btn btn-warning btn-sm">valider</button> </td>
       
</tr>
</form>  
  {% endfor %}
 </tbody>        
</table>

{% endblock %}